<header class="header">
    <a href="/" class="header__logo">QUẢN LÝ GIẢI VÔ ĐỊCH BÓNG ĐÁ QUỐC GIA</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">TRANG CHỦ</a>
            </li>
            <li class="profile-dropdown">
                <a href="#" class="">HỒ SƠ ĐĂNG KÝ</a>
                <ul class="dropdown-content">
                    <li class="tournament-dropdown">
                        <a href="#">Giải đấu</a>
                        <ul class="dropdown-subcontent">
                            <li><a href="/profile/tournament/add">Thêm giải đấu</a></li>
                            <li><a href="/profile/tournament/list">Danh sách giải đấu</a></li>
                        </ul>
                    </li>
                    <li class="team-dropdown">
                        <a href="#">Đội bóng</a>
                        <ul class="dropdown-subcontent">
                            <li><a href="/profile/team/add">Thêm đội bóng</a></li>
                            <li><a href="/profile/team/list">Danh sách đội bóng</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/profile/player">Cầu thủ</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/schedule" class="">LỊCH THI ĐẤU</a>
            </li>
            <li>
                <a href="/result" class="">KẾT QUẢ</a>
            </li>
            <li>
                <a href="/search" class="">TRA CỨU</a>
            </li>
            <li>
                <a href="/report" class="">BÁO CÁO</a>
            </li>
            <li>
                <a href="/rule" class="">QUY ĐỊNH</a>
            </li>
        </ul>
    </nav>
</header>