<div class="author">
    <h1 class="author__heading">Chào mừng đến với trang web quản lý giải bóng đá quốc gia!</h1>
    <p class="author__body">Đồ án môn SE • 2023-2024</p>
</div>

<img src="/img/grass.png" alt="Grass" class="grass" width="1296" height="864">